@charset "UTF-8";
/* CSS Document */
*{
	margin: 0;
	font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
	width: 100%;
    margin: auto;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar col {
    margin: 0 20px;
    text-align: center;
}

.logo{
	width: 150px;
	cursor: pointer;
}

.navbar ul li{
	list-style: none;
	display: inl-block;
	margin: 0 20px;
	position: relative;
}

.navbar ul li a{
	text-decoration: none;
	color: black;
	text-transform: uppercase;
}

.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background: #968400;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}

.navbar ul li:hover::after{
	width: 100%;
}

.search-bar {
    position: relative;
}

.search-bar input {
    width: 150px;
    height: 30px;
    padding: 0 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.search-bar button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
}

.search-bar button img {
    width: 20px;
    height: 20px;
}

.shopping-cart-icon img {
    width: 14px;
    height: 19px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    position: relative;
}

li ul {
    display: none;
    position: absolute;
    left: 0;
    padding: 20px 0;
    width: 150px;
}

li:hover ul {
    display: block;
}

li ul li {
    display: block;
    padding: 5px 0px;
    margin: 0;
    position: absolute;
	left: 0;
	top: calc(100% + .25rem);
    background: rgb(255, 255, 255);
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgb(0,0,0.1);
    transform: translateY(-10);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
   

}

.options ul li:hover::after{
	width: 100%;


}
.options ul li a{
    width: 50px;
    padding: 10px 0 0 0;
}

.container {
	display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
}

.column {
    flex: 1;
    padding: 0px;
}

.column img {
    width: 100%;
    height: 100%;
}

.text{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: white;
    text-wrap: balance;
} 

.container2{
	display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
}

.selection{
	width: 100%;
	transform: translateY(100%);
	text-align: center;
	color: black;
}


.column2 {
    flex: 1;
    padding: 50px;
}

.column2 img {
    width: 100%;
    height: auto;
}

.column2 p{
	text-align: center;
}

 .container3 {
	position: relative;
}

.text-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.container3 img {
	width: 100%;
	height: auto;
}
.container4 {
    display: flex;
    justify-content: space-around;
	margin: 0 5px;
}
.column3 {
	flex: 1;
    padding: 5px;
}
.container4 img{
	cursor: pointer;
	padding: 10px;
}
.column3 h2 {
    margin-bottom: 20px;
}

.column3 h3 {
	margin-bottom: 5px;
    margin-top: 0;
	padding-bottom: 5px;
}
 /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
 @media (max-width: 600px) {
    div.navbar, article {
      height: auto;
      margin: auto;
	  }
	  div.navbar{
	  flex-direction: column;
	  align-items: flex-start;
	  }
}
.responsive {
  width: 100%;
  height: auto;
}

